@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.dashboard-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dashboard-body {
  display: flex;
  flex-grow: 1;
}

.dashboard-content {
  flex-grow: 1;
  padding-left: 50px;
  transition: padding-left 0.3s ease;
}

.sidebar-expanded .dashboard-content {
  padding-left: 218px;
}

