@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #222222;
  color: #FFFFFF;
  margin: 0;
}

.dashboard-layout {
  display: flex;
  flex-direction: column;
}

.dashboard-body {
  display: flex;
  position: relative;
  padding-top: 62px; 
}

.dashboard-content {
  flex-grow: 1;
  padding: 2rem;
  margin-left: 50px; 
  transition: margin-left 0.3s ease;
}


.sidebar:hover ~ .dashboard-content {
  margin-left: 218px; 
}