@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.dashboard-container {
  width: 100%;
  min-height: 100vh;
  background-color: #222222;
}

